/* paleta de cores --------------------
--charcoal: #264653ff;
--persian-green: #2a9d8fff;
--orange-yellow-crayola: #e9c46aff;
--sandy-brown: #f4a261ff;
--burnt-sienna: #e76f51ff;
--very light grey: #ececec;
--cinza do texto: #282828;
--transparent: #ffffff00;
-------------------------------------*/

/*fontes-------------------------------
--titulos: Roboto
--texto: Open Sans
--------------------------------------*/

/*configurações do html----------------------*/
html {
  scroll-behavior: smooth;
}
/* configurações do 1º bloco----------------------------------*/
#cabecalho {

}
/* personalizar o título e imagens-------------*/

img#alternativas {
    position: absolute;
    width: 100%;
    height: 37%;
    left: 0%;
    right: 0%;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
}

img#terra_mar {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 72%;
    left:0px;
    right: 0px;
}

/* personalizar a barra_de_pesquisa----------*/
.barra_de_pesquisa{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 60%
}

form {
    align-items: center;
    background-color: #ececec;
    width: 1000px;
    height: 60px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    text-align: left;
    left: 0%;
    right: 0%;
    margin-left: auto;
    margin-right: auto;
}

input {
    all: unset;
    font: 16px system-ui;
    color: black;
    height: 100%;
    width: 100%;
    padding: 10px 40px;
}

::placeholder {
    color: black;
    opacity: 0.7;
}

button#btn_lupa {
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: black;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
  background-color: #ececec;
  box-sizing: border-box;
  margin: 0em;
  font: 10px 'Open Sans';
  padding: 1px 20px;
  border-width: 0px;
  border-style: outset;
  border-color:  #ececec;
  border-image: initial;
  border-radius: 0px;
}
svg#icone_lupa {
    width: 30px;
    height: 30px;
}

svg#icone_seta {
  color: black;
  fill: currentColor;
  width: 43px;
  height: 43px;
  background: #ffffff00;
  position: absolute;
  left: 0%;
  right: 0%;
  margin-left: auto;
  margin-right: auto;
  transform: translate(0%,270%);

}

/* configurações do 2º bloco----------------------------------*/
h1 {
  color: #264653ff;
  font-family: 'Helvetica';
  font-size: 70px;
  font-weight: bolder;
  text-align: justify;
  margin: 0;
  padding: 0;
}

p{
  color: #282828;
  font-family: 'Open Sans';
  font-size: 22px;
  text-align: justify;
  width: 500px;
  margin: 0px;
}

.word-break {
   word-break: break-all;
}

img#sist_ruim {
  position: absolute;
  height: 130%;
  width: 45%;
  top: 950px;
  left:0px;
}

#conteudo_1 {
  position: absolute;
  top: 0%;
  left: 30%;
  transform: translate(50%,450%);
}

img#sist_bom {
  position: absolute;
  height: 130%;
  width: 45%;
  top: 1800px;
  left:50%;
}

#conteudo_2 {
  position: absolute;
  top: 0%;
  left:15%;
  transform: translate(0%,900%);
}

/* configurações do 3º bloco----------------------------------*/

#conteudo_3 {
  width: 360px;
  padding-top: 202%;
  padding-left: 5%;
}

img#gaia {
  width: 90%;
}
/*-----------------abas de oções de itens sustentáveis---------------*/
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
  display: block;
  padding: 0px 20px;
}
a:hover{
  background-color: rgba(255,255,255,.3);
}
nav {
  background-color: gray;
  height: 50px;
}
ul#ul-principal {
  background: GRAY;
  width: 90%;
  margin: auto;
}
.li-p {
  line-height: 50px;
  float: leftu;
}
ul li ul li {
  background-color: GRAY;
}

.ul-beleza, .ul-artesanato, .ul-alimentos {
  display: none;
}

/*----------------- fim do código de abas de opções-------------*/
