/*configurações do html----------------------*/
html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  width: 100%;
}

/*não especificar a cor do título nos <h>, daí da pra especificar a cor para cada div*/
h1 {
  font-family: 'Roboto';
  font-size: 6.5vw;
  font-weight: bolder;
  margin-bottom: 0px;
  padding: 0px;
}

@media screen and (max-width: 625px) {
  h1 {
    font-size: 8vw;
  }

}

h2 {
  font-family: 'Roboto';
  font-weight: bolder;
  text-align: justify;
  margin-top: 2.5;
  padding: 0px;
  color:#282828;
  font-size: calc(25px + (26 - 25) * ((100vw - 300px) / (1600 - 300)));
}

h3 {
  font-family: 'Open Sans';
  font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
  line-height: normal;
  font-weight: 600;
  margin-top: 1vw;
}

@media screen and (max-width: 625px) {
  h3 {
    font-size: 14px;
  }
}

p{
  color: #282828;
  font-family: 'Open Sans';
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  text-align: justify;
}

.word-break {
   word-break: break-all;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: 'Roboto';
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
  text-emphasis-color: none;

}

/*cabeçalho------------------------------------*/
#cabecalho {
  height: 8vw;
}

img#alternativas {
      position: absolute;
      width: 40vw;
      left: 0%;
      right: 0%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2vw;
      max-width: 100%;
      z-index: 1;
}

img#terra_mar {
    position: absolute;
    margin: 0;
    width: 100%;
    height:12vw;
    top:6vw;
    margin-bottom: 1vw;
    z-index: 0;
}
/*conteudos-----------------------------*/

#cosmeticos{
  margin-top: 10vw;
  text-align: center;
  color: #e76f51ff;
  position: relative;
  margin-bottom: 5vw;
}
#conteudos {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20vw);
  grid-row-gap: 2vw;
  grid-column-gap: 10vw;
  background-color: none;
  width: 90%;
  margin-top: 3vw;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.bloco {
  width: 25vw;
  height: 25vw;
  border-radius: 15px;
  background-color: #eeeeee;
  text-align: center;
  padding-bottom: 0;
  margin: 2vw;
  color: #282828;
  position: relative;
}
.imagem {
  width: 25vw;
  height: auto;
  border-radius: 15px;
}

@media screen and (max-width: 625px) {
  #conteudos {
    grid-template-columns: repeat(auto-fill, 20vw);
    grid-column-gap: 25vw;
    grid-row-gap: 15vw;
    margin-left: -7.5vw;
  }

  .bloco {
    background-color: #F0F0F0;
    border: none;
    text-align: center;
    height: 40vw;
    width: 40vw;
    border-radius: 7px;
    margin-bottom: 0vw;
  }

  .imagem {
    width: 40vw;
    height: auto;
    border-radius: 15px;
  }

}
/*rodapé------------------------------*/
#rodape {
  background-color: #2a9d8fff;
  color: white;
  padding-left: 7vw;
  padding-top: 1vw;
  z-index: 0;
  padding-bottom: 5vw;
  position: relative;
}

#links {
  padding-left: 70%;
  margin-top: -8%;
  color: white;
}

#grupo {
  height: 4vw;
  background-color: #264653ff;
  z-index: 1;
  color: white;
  text-align: center;
  padding-top: 3vw;
  padding-bottom: 3vw;
}
