/* paleta de cores (as cores estão no arquivo paleta_de_cores, dentro da pasta alternativas) --------------------
--charcoal: #264653ff;
--persian-green: #2a9d8fff;
--orange-yellow-crayola: #e9c46aff;
--sandy-brown: #f4a261ff;
--burnt-sienna: #e76f51ff;

--very light grey: #ececec;
--cinza do texto: #282828;

--transparent: #ffffff00;
-------------------------------------*/


/*fontes-------------------------------
--titulos: Roboto
--texto: Open Sans
--------------------------------------*/



/*configurações do html----------------------*/
html {
  scroll-behavior: smooth;
}

/*configurações de texto----------------------*/

.main {

}

/*não especificar a cor do título nos <h>, daí da pra especificar a cor para cada div*/
h1 {
  font-family: 'Roboto';
  font-size: 6.5vw;
  font-weight: bolder;
  text-align: justify;
  margin-bottom: 0px;
  padding: 0px;
}
@media screen and (max-width: 600px) {
  h1 {
      font-size: 50px;
  }
}

p{
  color: #282828;
  font-family: 'Open Sans';
  font-size: 2vw;
  text-align: justify;
}
@media screen and (max-width: 600px) {
  p {
      font-size: 18px;
  }
}

.word-break {
   word-break: break-all;
}

/* configurações do 1º bloco----------------------------------*/
#cabecalho {
  height: 710px;
}
/* personalizar o título e imagens-------------*/

img#alternativas {
    position: absolute;
    width: 95%;
    height: 37%;
    left: 0%;
    right: 0%;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    max-width: 100%;
    max-height: auto;
}

img#terra_mar {
    position: absolute;
    margin: 0;
    padding-top: 10%;
    left:0px;
    right: 0px;
    bottom: -4em;

}

/* personalizar a barra_de_pesquisa----------*/
.barra_de_pesquisa{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 60%;
    max-width: 100%;
    max-height: auto;
    margin: 0%;

}

#form {
    align-items: center;
    background-color: #ececec;
    width: 60%;
    height: 3.5em;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    text-align: left;
    left: 0%;
    right: 0%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: auto;
    margin-bottom: 0%
}

#query {
    all: unset;
    font: 16px system-ui;
    color: black;
    height: 100%;
    width: 100%;
    padding: 10px 40px;
}

::placeholder {
    color: black;
    opacity: 0.7;
}

button#btn_lupa {
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: black;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
  background-color: #ececec;
  box-sizing: border-box;
  margin: 0em;
  font: 10px 'Open Sans';
  padding: 1px 20px;
  border-width: 0px;
  border-style: outset;
  border-color:  #ececec;
  border-image: initial;
  border-radius: 0px;
  max-width: 100%;
  margin: 0;
}
svg#icone_lupa {
    width: 3em;
    height: 3em;
    max-width: 100%;
    max-height: auto;
}

svg#icone_seta {
  color: black;
  fill: currentColor;
  width: 5.5%;
  height: 5.5%;
  background: #ffffff00;
  position: absolute;
  left: 0%;
  right: 0%;
  margin-left: auto;
  margin-right: auto;
  top: 85%;
  max-width: 100%;
  max-height: auto;
}
@media screen and (max-width: 600px) {
  svg#icone_seta {
      width: 7%;
      height: 7%;
  }
}



/* configurações do 2º bloco----------------------------------*/
#bloco_2 {
  height: 0px;
  margin: 0;
  padding: 0;
}

img#sist_insustentavel {
  position: absolute;
  max-height: auto;
  max-width: 100%;
  width: 50%;
  padding-top: 0%;
  left:0px;
  margin: 0;

}

#conteudo_1 {
  color: #e76f51ff;
  width: 45%;
  top: -5em;
  padding-left: 50%;
  max-width: 100%;
  max-height: auto;
  display: block;
  margin-right: 50%;
  position: relative;
  margin-top: 5em;
  padding-bottom: 40%;

}

img#sist_sustentavel {
  position: absolute;
  max-height: auto;
  max-width: 100%;
  width: 50%;
  padding-top: 0;
  left:50%;
  margin-top: -25%;
}

#conteudo_2 {
  color: #2a9d8fff;
  width: 45%;
  top: 0;
  padding-left: 0%;
  max-width: 100%;
  max-height: auto;
  display: block;
  margin-right: 50%;
  position: relative;
  margin-top: 5em;

}



/* configurações do 3º bloco----------------------------------*/
#bloco_3 {

}

#hipotese_de_gaia {
  position: absolute;
  width: 360px;
  top: 397%;
  left: 5%;
  color: #2a9d8fff;
  display: flex;
  max-width: 100%;
  max-height: auto;
}

img#gaia {
  width: 90%;
  height: 170%;
  position: absolute;
  left: 3%;
  top: 365%;
  display: block;
  max-width: 100%;
  max-height: auto;
}

.texto-subindo {
  position: absolute;
  border-radius: 15px;
  height: 100em;
  width: 20em;
  background-color: #eeeeee;
  left:69.5%;
  top: 390%;
  box-shadow: 10px 10px 10px #e1e1e1;
  overflow:hidden;
  word-break:break-all;
  white-space:normal;
  display: flex;
  padding: 3%;
  max-width: 100%;
  max-height: auto;
}

/**Styling scrollable elements*/

.js-scroll {
  opacity: 0;
  transition: opacity 1300ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.deslizar-base {
  animation: fade-in-bottom 1.3s ;
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(500px);
    transform: translateY(500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
